.tile-board {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.tile {
    margin: 10px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    /* width: 800px; */
}


.module-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 }

 .module {
   border: 1px solid;
   display: flex;
   flex-direction: column;
 }

 .bordered {
   border: 1px solid;
 }

.margin {
  margin: 2px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.vflex {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.moduleConfig {
  width: 400px;
  height: auto;
  display: block;
  border: 1px solid;
  position: absolute;
  left: 50%;
  margin-left: -200px;
}

.controls {
  /* display: none; */
  display: flex;
}

.slider-controls {
  display: flex;
  justify-content: center;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.value {
  font-weight: bold;
  text-align: center;
}

.draggable {
    position: absolute;
    cursor: move;
}

.text-tile {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid;
}

.webblocks-container {
    display: flex;
    flex-direction: column;
}

.model-vis {
  display: flex;
}

.channelList {
    display: flex;
    flex-direction: column;
}

.condition {
  font-size: 12pt;
  font-weight: bold;
}

.element {
    display: inline-block;;
    flex-direction: column;
    width: auto;
    /* background: #c3c3c3; */
    border: #3a3a48;
    border-style: dashed;
    border-width: 2px;
}

ul {
    margin: 0;
    /* height: 100px; */
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
}

.condition-list {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-width: 300px; /* Firefox */
  column-width: 300px;
  overflow: auto;
}


.canvas {
    /* position:absolute; */
    left:0;
    right:0;
    top:0;
    margin-left:auto;
    margin-right:auto;
}

.agentcanvas{
    z-index: 1        
}

.gamecanvas {
    z-index: 0        
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


.card {
    margin-bottom: 15px;
    background: var(--card-background-color);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.card._is-expanded {
    margin-bottom: 30px;
}

.card._is-expanded .card_toggle {
    transform: rotate(90deg);
}

.card__header {
    height: 52px;
    width: 100%;
    /* position: relative; */
    padding: 0 24px;
    cursor: pointer;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__header h3 {
    margin: 0 !important;
    color: #000 !important;
}

.card__header svg {
    font-size: 26px;
    color: #bbb;
}

.card__header:hover svg {
    color: #777;
}

.model{
  opacity: 0.3;
}

.selected {
  border: #000;
  border-style: solid;
  opacity: 1;
}


.tabs__menu {
    display: -ms-flexbox;
    display: flex;
    padding-top: 1px;
    background: #f0f3f4;
    overflow-x: auto;
    font-size: 15px;
}

.tabs__menu__item {
    cursor: pointer;
    margin-right: 1px;
    padding: 9px 20px;
    color: #aaa;
    white-space: pre;
    border-radius: 0;
}

.tabs__menu__item:hover {
    color: var(--main-text-color);
}

.tabs__menu__item._is-active {
    color: var(--main-text-color);
    border-bottom-color: #fff;
    background: #fff;
}

/* React resizeable */

.react-resizable {
    position: relative;
  }

.react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
    background-position: bottom right;
    padding: 0 3px 3px 0;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    cursor: se-resize;
}


.box {
    display: inline-block;
    background: #ccc;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    margin: 20px;
  }

  .element_handle {
    cursor: move;
    text-align: center;
    font-weight: bold;
    font-size: 16pt;
    width: 100;
  }

  /* Grid layout */

  .react-grid-layout {
    position: relative;
    transition: height 200ms ease;
    margin-left: 2.5%;
  }
  .react-grid-item {
    transition: all 200ms ease;
    transition-property: left, top;
  }
  .react-grid-item.cssTransforms {
    transition-property: transform;
  }
  .react-grid-item.resizing {
    z-index: 1;
    will-change: width, height;
  }
  
  .react-grid-item.react-draggable-dragging {
    transition: none;
    z-index: 3;
    will-change: transform;
  }
  
  .react-grid-item.react-grid-placeholder {
    background: red;
    opacity: 0.2;
    transition-duration: 100ms;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  .react-grid-item > .react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    cursor: se-resize;
  }
  
  .react-grid-item > .react-resizable-handle::after {
    content: "";
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 5px;
    height: 5px;
    border-right: 2px solid rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  }


/* react-vis */


.rv-xy-plot__series--line {
  fill: none;
  stroke-width: 2px;
}

.rv-xy-plot__axis__line {
  fill: none;
  stroke-width: 2px;
  stroke: black;
}

.rv-xy-canvas {
    pointer-events: none;
    position: absolute;
}

.rv-xy-plot {
    color: #c3c3c3;
    position: relative;
}

.rv-xy-plot__grid-lines__line {
  stroke: black;
  stroke-width: 2;
  stroke-dasharray: "5,5";
}


.rv-discrete-color-legend {
    box-sizing: border-box;
    overflow-y: auto;
    font-size: 12px;
  }
  .rv-discrete-color-legend.horizontal {
    white-space: nowrap;
  }
  .rv-discrete-color-legend-item {
    color: #3a3a48;
    border-radius: 1px;
    padding: 9px 10px;
  }
  .rv-discrete-color-legend-item.horizontal {
    display: inline-block;
  }
  .rv-discrete-color-legend-item.horizontal .rv-discrete-color-legend-item__title {
    margin-left: 0;
    display: block;
  }
  .rv-discrete-color-legend-item__color {
    background: #dcdcdc;
    display: inline-block;
    height: 2px;
    vertical-align: middle;
    width: 14px;
  }
  .rv-discrete-color-legend-item__title {
    margin-left: 10px;
  }
  .rv-discrete-color-legend-item.disabled {
    color: #b8b8b8;
  }
  .rv-discrete-color-legend-item.clickable {
    cursor: pointer;
  }
  .rv-discrete-color-legend-item.clickable:hover {
    background: #f9f9f9;
  }
  .rv-search-wrapper {
    display: flex;
    flex-direction: column;
  }
  .rv-search-wrapper__form {
    flex: 0;
  }
  .rv-search-wrapper__form__input {
    width: 100%;
    color: #a6a6a5;
    border: 1px solid #e5e5e4;
    padding: 7px 10px;
    font-size: 12px;
    box-sizing: border-box;
    border-radius: 2px;
    margin: 0 0 9px;
    outline: 0;
  }
  .rv-search-wrapper__contents {
    flex: 1;
    overflow: auto;
  }
  .rv-continuous-color-legend {
    font-size: 12px;
  }
  .rv-continuous-color-legend .rv-gradient {
    height: 4px;
    border-radius: 2px;
    margin-bottom: 5px;
  }
  .rv-continuous-size-legend {
    font-size: 12px;
  }
  .rv-continuous-size-legend .rv-bubbles {
    text-align: justify;
    overflow: hidden;
    margin-bottom: 5px;
    width: 100%;
  }
  .rv-continuous-size-legend .rv-bubble {
    background: #d8d9dc;
    display: inline-block;
    vertical-align: bottom;
  }
  .rv-continuous-size-legend .rv-spacer {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    width: 100%;
  }
  .rv-legend-titles {
    height: 16px;
    position: relative;
  }
  .rv-legend-titles__left, .rv-legend-titles__right, .rv-legend-titles__center {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
  }
  .rv-legend-titles__center {
    display: block;
    text-align: center;
    width: 100%;
  }
  .rv-legend-titles__right {
    right: 0;
  }
  